*.log
*.aux
*.out
*.nav
*.toc
*.snm
poster.pdf
*.tex.project.vim
/img/kvstore.pdf
/img/frontend.pdf
/img/rocket-pipeline.pdf
/img/system-base.pdf
/img/system-kvstore.pdf
/img/dma-rx.pdf
/img/dma-tx.pdf
