*.log
*.aux
*.out
*.nav
*.toc
*.snm
*.bbl
*.blg
*-blx.bib
*.run.xml
paper.pdf
poster.pdf
presentation.pdf
report.pdf
*.tex.project.vim
/img/kvstore.pdf
/img/hasher.pdf
/img/frontend.pdf
/img/rocket-pipeline.pdf
/img/system-base.pdf
/img/system-kvstore.pdf
/img/system-norocket.pdf
/img/dma-rx.pdf
/img/dma-tx.pdf
